<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Módulo 2 evaluación final</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <h1 class="title">Buscador de series</h1>
    <main class="main">
      <div class="left-column">
        <form action="">
          <input type="text" class="input" value="Friends">
          <input type="button" class="js-button" value="Search">
        </form>
        <ul class="js-favorites-container">columna izquierda
          <!-- <li>
            <h3>titulo html</h3>
            <img src="https://via.placeholder.com/210x295/ffffff/666666/?
            text=TV" alt="imagen serie">
          </li> -->
        </ul>
      </div>
    <div class="right-column">
      <!-- <button>press</button> -->
      <ul class="js-search-result-container ul">columna derecha
      </ul>
    </div>
</main>
<script src="./assets/js/main.js"></script>
  </body>
</html>
